# Importando Bibliotecas Necessárias

In [112]:
import json
import requests

# Download dos dados

- Será utilizada a base de dados no formato .json para resolução dos exercícios

In [113]:
link_dados = 'https://raw.githubusercontent.com/meduardaeneves/TargetSistemasDesafio/refs/heads/main/dados.json'

In [114]:
response = requests.get(link_dados)
response.raise_for_status()

In [115]:
dados = json.loads(response.text)

In [116]:
dados

[{'dia': 1, 'valor': 22174.1664},
 {'dia': 2, 'valor': 24537.6698},
 {'dia': 3, 'valor': 26139.6134},
 {'dia': 4, 'valor': 0.0},
 {'dia': 5, 'valor': 0.0},
 {'dia': 6, 'valor': 26742.6612},
 {'dia': 7, 'valor': 0.0},
 {'dia': 8, 'valor': 42889.2258},
 {'dia': 9, 'valor': 46251.174},
 {'dia': 10, 'valor': 11191.4722},
 {'dia': 11, 'valor': 0.0},
 {'dia': 12, 'valor': 0.0},
 {'dia': 13, 'valor': 3847.4823},
 {'dia': 14, 'valor': 373.7838},
 {'dia': 15, 'valor': 2659.7563},
 {'dia': 16, 'valor': 48924.2448},
 {'dia': 17, 'valor': 18419.2614},
 {'dia': 18, 'valor': 0.0},
 {'dia': 19, 'valor': 0.0},
 {'dia': 20, 'valor': 35240.1826},
 {'dia': 21, 'valor': 43829.1667},
 {'dia': 22, 'valor': 18235.6852},
 {'dia': 23, 'valor': 4355.0662},
 {'dia': 24, 'valor': 13327.1025},
 {'dia': 25, 'valor': 0.0},
 {'dia': 26, 'valor': 0.0},
 {'dia': 27, 'valor': 25681.8318},
 {'dia': 28, 'valor': 1718.1221},
 {'dia': 29, 'valor': 13220.495},
 {'dia': 30, 'valor': 8414.61}]

# Questão 01

- O código abaixo tem como objetivo resolver a questão 01, utilizando o while como parâmetro para aumentar o quantitativo dos elementos SOMA  e K

In [117]:
indice = 13
soma = 0
k = 0

while k < indice:
  k = k + 1
  soma = soma + k
print(f'Ao final, a variável soma tem valor de {soma}')

Ao final, a variável soma tem valor de 91

# Questão 02

- O programa vai solicitar ao usuário 2 valores de números, para investigar a presença, ou não, na sequência de Fibonacci

In [118]:
numero_fibonacci_teste1 = 125
numero_fibonacci_teste2 = 144
# numero_fibonacci_teste1 = int(input('Escolha um número para sequência de Fibonacci: '))
# numero_fibonacci_teste2 = int(input('Escolha um número para sequência de Fibonacci: '))

- Essa primeira função tem como objetivo verificar se o número passado existe ou não em Fibonacci.
- Durante o desenvolvimento dos cálculos, caso o número atual da sequência de Fibonacci seja maior do que o número que foi inputado, o programa vai encerrar retornando FALSE, indicando a não existência na sequência

In [119]:
def sequencia_fibonacci(numero):
  if numero == 0 or numero == 1:
    return True
  else:
    valor1 = 0
    valor2 = 1
    valor_final = valor1 + valor2

    while valor_final <= numero:
      if valor_final == numero:
        return True

      valor1 = valor2
      valor2 = valor_final
      valor_final = valor1 + valor2
    return False

- A função abaixo tem como objetivo imprimir o resultado da questão, ou seja, vai imprimir a existência ou não, do número na sequência de Fibonacci, de posse do que foi retornado na função anterior.

In [120]:
def print_numero_sequencia(numero,existe_ou_nao):
  if existe_ou_nao:
    existencia = 'existe'
  else:
    existencia = 'não existe'
  print(f'O número "{numero}" {existencia} na sequência de Fibonacci.')

In [121]:
print_numero_sequencia(numero_fibonacci_teste1,sequencia_fibonacci(numero_fibonacci_teste1))
print_numero_sequencia(numero_fibonacci_teste2,sequencia_fibonacci(numero_fibonacci_teste2))

O número "125" não existe na sequência de Fibonacci.
O número "144" existe na sequência de Fibonacci.

# Questão 03:

In [122]:
valor_min_mes = None
valor_max_mes = None
soma = 0
qnt_meses_valido = 0

- De posse dos dados obtidos através do arquivo JSON fornecido, o código abaixo tem a função de calcular a soma total dos valores, ignorando aqueles que apresentaram um resultado igual a zero
- Ademais, ela também vai comparar os valores inseridos, atualizando sempre os valores de máximo e mínimo e calculando quantos dias foram computados (ignorando feriados e fim de semana)

In [123]:
for valor in dados:
  if valor['valor'] == 0:
    continue
  else:
    soma += valor['valor']
    qnt_meses_valido += 1
    if valor_min_mes is None and valor_max_mes is None:
      valor_min_mes = valor['valor']
      valor_max_mes = valor['valor']
    else:
      if valor['valor'] < valor_min_mes:
        valor_min_mes = valor['valor']
      elif valor['valor'] > valor_max_mes:
        valor_max_mes = valor['valor']

- De posse das informações calculadas anteriormente, a função abaixo vai calcular a média do faturamento e em sequida vai fazer um novo looping entre os dados, calculando quantos meses apresentaram um valor de faturamento superior à média calculada

In [124]:
media_mes = soma / qnt_meses_valido
qnt_mes_superior_media = 0

In [125]:
for valor in dados:
  if valor['valor'] > media_mes:
    qnt_mes_superior_media += 1

In [126]:
print(f'Menor valor de faturamento no mês: R$ {valor_min_mes}')
print(f'Maior valor de faturamento no mês: R$ {valor_max_mes}')

print(f'\nMédia de faturamento: R$ {media_mes:.4f}')
print(f'Qnt de meses em que o o faturamento superou a média: {qnt_mes_superior_media}')

Menor valor de faturamento no mês: R$ 373.7838
Maior valor de faturamento no mês: R$ 48924.2448

Média de faturamento: R$ 20865.3702
Qnt de meses em que o o faturamento superou a média: 10

# Questão 04

In [127]:
faturamento_estados = {
    'SP': 67836.43,
    'RJ': 36678.66,
    'MG': 29229.88,
    'ES': 27165.48,
    'Outros': 19849.53,
}

- Essa primeira função vai ser responsável por, através do dado de entrada de um dicionário, contendo o nome do estado e seu faturamento, retornar o somatório total mensal de uma determinada distribuidora

In [128]:
def calculo_total_faturamento(faturamento_dict):
  total_faturamento = 0
  for valor in faturamento_dict.values():
    total_faturamento += valor
  return total_faturamento

In [129]:
faturamento_total = calculo_total_faturamento(faturamento_estados)

In [130]:
print(f'Total de faturamento: R$ {faturamento_total}')

Total de faturamento: R$ 180759.98

- Em seguida, de posse do valor total acumulado em um mês por determinada distribuidora, a função abaixo tem como objetivo criar um novo dicionário, onde as chaves são os estados existentes, e os valores, o percentual dele, em relação ao total.

In [131]:
def percentual_faturamento(faturamento_dict, total_faturamento):
  percentual_faturamento = {}
  for estado, valor in faturamento_dict.items():
    percentual_faturamento[estado] = (valor/total_faturamento)*100
  return percentual_faturamento

In [132]:
percentual_faturamento = percentual_faturamento(faturamento_estados, faturamento_total)

In [133]:
print('Percentual de faturamento por estado:\n')

for estado, valor in percentual_faturamento.items():
  print(f'Percentual de representação de "{estado}" dentro do valor total mensal da distribuidora (R$ {faturamento_total}): {valor:.2f} %')

Percentual de faturamento por estado:

Percentual de representação de "SP" dentro do valor total mensal da distribuidora (R$ 180759.98): 37.53 %
Percentual de representação de "RJ" dentro do valor total mensal da distribuidora (R$ 180759.98): 20.29 %
Percentual de representação de "MG" dentro do valor total mensal da distribuidora (R$ 180759.98): 16.17 %
Percentual de representação de "ES" dentro do valor total mensal da distribuidora (R$ 180759.98): 15.03 %
Percentual de representação de "Outros" dentro do valor total mensal da distribuidora (R$ 180759.98): 10.98 %

# Questão 05

- Função desenvolvida abaixo vai passar por todos os caracteres da string e sempre vai adicioná-lo ao início da nova string, que inicou zerada, dessa forma, invertendo-os

In [134]:
def reverter_string(string):
  new_str = ''
  for caracter in string:
    new_str = caracter + new_str
  return new_str

In [135]:
string_teste = 'Bom dia, meu nome é Maria Eduarda e estou na etapa de teste da empresa "Target Sistemas"'

In [136]:
string_reversa = reverter_string(string_teste)

- Abaixo estão apresentados os resultados dessa questão com um valor de string estabelecido previamente

In [137]:
print(f'String Original:\n {string_teste}')
print(f'\nString com caracteres invertidos:\n {string_reversa}')

String Original:
 Bom dia, meu nome é Maria Eduarda e estou na etapa de teste da empresa "Target Sistemas"

String com caracteres invertidos:
 "sametsiS tegraT" aserpme ad etset ed apate an uotse e adraudE airaM é emon uem ,aid moB